@import "../variables.scss";

.layout {
  display: flex;

  > * {
    flex: 1 1 1%;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    overflow-y: scroll;
  }

  @include whenSmall {
    flex-direction: column;

    > * {
      padding-top: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      overflow-y: visible;
    }
  }
}
