@import "../variables.scss";

.loginPage {
  height: 100vh;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: $fontSize3XL;
  margin-bottom: 1rem;
}

.disclaimer {
  font-size: $fontSizeXS;
  color: $colorMuted;
}

.example {
  position: relative;
  pointer-events: none;

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), white 80%);
  }
}
