@import "../variables.scss";

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: $fontSize3XL;
  margin-bottom: 3rem;
}
