@import '../variables.scss';

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100vh;
}

.title {
  font-size: $fontSize3XL;
  margin-bottom: 1rem;
  text-align: center;

  @include whenSmall {
    margin-bottom: .5rem;
  }
}

.logoutLink {
  font-size: $fontSizeM;
}

.loadingContainer {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  > *:first-child {
    margin-bottom: 1rem;
  }
}

.refreshButton {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: block;
  font-size: $fontSizeL;
}
