@import '../variables.scss';

.suggestion {
  border-left: 3px solid $colorAccent;
  border-radius: $borderRadius;
  background: white;
  box-shadow: $shadowStandard;
}

.contentContainer {
  display: flex;
  align-items: center;
  z-index: 1;
  background: white;

  > *:first-child {
    flex: 1 1 auto;
  }
}

.details {
  font-size: $fontSizeXS;
  border-top: 1px solid #EDF2F7;
  padding: 1rem;
  background-color: #F7FAFC;
}

.content {
  padding: 1rem;
}

.title {
  color: orangered;
  font-weight: bold;
  font-size: $fontSizeXL;
  margin-bottom: .5rem;
  display: block;
  text-decoration: none;
}

.score {
  font-size: $fontSize5XL;
}

.description {
  font-size: $fontSizeXS;

  a {
    text-decoration: none;
  }
}

.controls {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  align-self: stretch;
}

.excludeButton {
  background: none;
  border-radius: none;
  outline: none;
  border: none;
  cursor: pointer;

  margin-top: .5rem;
  margin-right: .5rem;
  padding: .5rem;

  > svg {
    stroke: $colorMuted;
    display: block;
    height: 1rem;
    width: 1rem;

    $animationTiming: cubic-bezier(.17,.67,.83,.67) .05s;
    transition: stroke-width $animationTiming, stroke $animationTiming;
  }

  &:hover > svg {
    stroke: $colorAccent;
    stroke-width: 10px;
  }

  &:active > svg {
    stroke-width: 8px;
  }
}
