@import './variables.scss';

body {
  margin: 0;
  color: $colorText;
  font-family: $fontFamily;
  font-size: $fontSizeXL;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $colorPageBackground;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
